<%- model_class = Advertise -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div align="center">

  <%= will_paginate %>

</div>
<div class = "table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th> Website Name</th>
        <th> Website Ad Activited</th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>

        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @advertises.each do |advertise| %>
          <% if advertise.website != nil %>
        <tr>
          <td><%= link_to advertise.id, advertise_path(advertise) %></td>
          <td><%= advertise.description %></td>
          <td><%= advertise.website.name  %></td>
          
          <td><%= advertise.website.advertising  %></td>
          <td><%=l advertise.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_advertise_path(advertise), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        advertise_path(advertise),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
            <% web = Website.find(advertise.website_id) %>

            <%= link_to 'Activate Ad', edit_website_path(advertise.website.id), :class => 'btn btn-default btn-xs btn-primary' if web.advertising.blank? %>
           
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div align="center">

  <%= will_paginate %>

</div>

<%= link_to "Website List", 
            websites_path, 
            :class => 'btn btn-primary' %> 

<%= link_to "Home",
            root_path,
            :class => 'btn btn-warning' if current_user.admin.present? %>  

<div class = "table-responsive">
  <table class="table table-striped" >
    <thead>
      <tr>
          <th>Website Name</th>
          <th>Website ID</th>
          <th>Ad's Activated</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>

      </tr>
    </thead>
    <tbody>
    <!-- current_websites => Website.all -->
    <% current_websites.each do |website| %>
      <tr>
        <% if website.advertising == false %>
          <td><%= website.name %></td>
          <td><%= website.id %></td>
          <td><%= website.advertising %></td>
          
          <td>
            <!-- Here we dig deeper into advertises list 
                ie find advertise been created but not activated  -->
          <% website.advertises.each do |advertise| %> 
          
                      <%= link_to "Active Ad",
                      edit_website_path(website),
                      :class => 'btn btn-primary' if advertise.id.present?  %>
          <% end %>

            <%= link_to "Create Ad",
                      new_advertise_path(:website_id => website.id),
                      :class => 'btn btn-primary' if website.advertises.blank? %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  <% content_for :footer do %>
       <% count_ads = [] %>
    <% count_ads_not = [] %>
    <% current_websites.each do|website| %>
        <% count_ads.push(website) if website.advertising == true %>
        <% count_ads_not.push(website) if website.advertising == false %>
    <% end %> 
    <%= count_ads.length.to_s + " Ads Created "  %>
    <br/>
    <p>--------------------------------------------</p>
    <%= count_ads_not.length.to_s + " Ads Pending "  %>
  <% end %>