<%- model_class = Advertise -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
 
  <dd><%= @advertise.description %></dd>
  
</dl>
<% if current_user.admin.present? %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  advertises_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_advertise_path(@advertise), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  advertise_path(@advertise),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>

<% else %>
      <%= link_to "Home",
                 root_path, :class => 'btn btn-default'  %>
      <% current_user.websites.each do |website| %>
        <% if website.id == @advertise.website_id %>
        <% dash_id  = Dashboard.find_by(website_id: @advertise.website_id ) %>
          <% if dash_id.present? %>

          <%= link_to "Dashboard",
                     dashboard_path(website.id), :class => 'btn btn-default'  %>
          
          <% end %>
        <% end %>
      <% end %>
      
      <%= link_to "Go to Google ",
                 "https://www.google.com.au", :class => 'btn btn-default'  %>
<% end %>
<p>
  Please Note: Depending on the day you may not see your Google Ad when you Go to Google searching for your Product<br>
  or Service, as we try to maxismise your Ad to Potential Clients through out the Day. Also - Please ensure that you <br>don't click on to your Ad when you see it on Google Search 
</p>