<%- model_class = DataDashboard -%>
<div class="page-header">
  <h1>Dashboard Monthly </h1>
</div>
<% if current_user.admin.blank? %>


      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th><%= model_class.human_attribute_name(:calls) %></th>
            <th><%= model_class.human_attribute_name(:clicks) %></th>
            <th><%= model_class.human_attribute_name(:searches) %></th>
            <th><%= model_class.human_attribute_name(:cost) %></th>
            <th><%= model_class.human_attribute_name(:budget) %></th>
            <th><%= model_class.human_attribute_name(:smartphones) %></th>
            <th><%= model_class.human_attribute_name(:tablets) %></th>
            <th><%= model_class.human_attribute_name(:computers) %></th>
            <th><%= model_class.human_attribute_name(:updated_at) %></th>
            
           
          </tr>
        </thead>
        <tbody>
          <% @data_dashboards.each do |data_dashboard| %>
            <tr>
              
              <% data_id = data_dashboard.dashboard_id %> <!-- find data_dashbord id -->
              <% dashboard_obj = Dashboard.find_by(id: data_id) %><!-- find the Dashboard id or website Name -->
              <%  web_id = dashboard_obj.website_id %> <!-- get the website ID -->
              <%  @user = Website.find_by(id:web_id) %> <!-- Get the website Name/web address -->
                  <% if data_dashboard.dashboard_id == dashboard_obj.id && current_user.id == @user.user_id %>
                    <td></td>

                    <td><%= data_dashboard.calls %></td>
                    <td><%= data_dashboard.clicks %></td>
                    <td><%= data_dashboard.searches %></td>
                    <td><%= data_dashboard.cost %></td>
                    <td><%= data_dashboard.budget %></td>
                    <td><%= data_dashboard.smartphones %>%</td>
                    <td><%= data_dashboard.tablets %>%</td>
                    <td><%= data_dashboard.computers %>%</td>
                    <td><%= data_dashboard.updated_at.to_s(:due_date) %></td>
                    
                  <% end %>
          
            </tr>
          <% end %>
                  <td> Total </td>
                  <td><%= "#{@calls}" %></td>
                  <td><%= "#{@clicks}" %></td>
                  <td><%= "#{@searches}" %></td> 
                  <td><%= "#{@cost}" %></td> 
                  <td><%= "#{@budget}" %></td> 
                  <td><%= @average[0] %>%</td> 
                  <td><%= @average[1] %>%</td> 
                  <td><%= @average[2] %>%</td> 
        </tbody>
      </table>
<% else %>
<!--        ////////////////////// Admin Section ////////////////////////////       -->
  <%= render :partial => 'searchform' %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:calls) %></th>
            <th><%= model_class.human_attribute_name(:clicks) %></th>
            <th><%= model_class.human_attribute_name(:searches) %></th>
            <th><%= model_class.human_attribute_name(:cost) %></th>
            <th><%= model_class.human_attribute_name(:budget) %></th>
            <th><%= model_class.human_attribute_name(:smartphones) %></th>
            <th><%= model_class.human_attribute_name(:tablets) %></th>
            <th><%= model_class.human_attribute_name(:computers) %></th>
            <th>Website Name</th>
            <th><%= model_class.human_attribute_name(:dashboard_id) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") if current_user.admin.present? %></th>
           
          </tr>
        </thead>
        <tbody>
          <% @data_dashboards.each do |data_dashboard| %>
            <tr>
              
              <% data_id = data_dashboard.dashboard_id %> <!-- find data_dashbord id -->
              <% dashboard_obj = Dashboard.find_by(id: data_id) %><!-- find the Dashboard id or website Name -->
              <%  web_id = dashboard_obj.website_id %> <!-- get the website ID -->
              <%  @user = Website.find_by(id:web_id) %> <!-- Get the website Name/web address -->
                 
                    <td><%= link_to data_dashboard.id, data_dashboard_path(data_dashboard) %></td>
                    <td><%= data_dashboard.calls %></td>
                    <td><%= data_dashboard.clicks %></td>
                    <td><%= data_dashboard.searches %></td>
                    <td><%= data_dashboard.cost %></td>
                    <td><%= data_dashboard.budget %></td>
                    <td><%= data_dashboard.smartphones %>%</td>
                    <td><%= data_dashboard.tablets %>%</td>
                    <td><%= data_dashboard.computers %>%</td>

                    <td> <%= @user.name %></td>
                    <td><%= data_dashboard.dashboard_id %></td>
                    <td>
                            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                        edit_data_dashboard_path(data_dashboard), :class => 'btn btn-default btn-xs' %>
                            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                         data_dashboard_path( data_dashboard),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                        :class => 'btn btn-xs btn-danger'  %>
                          </td>
                 
          
            </tr>
          <% end %>
                  <td> Total </td>
                  <td><%= "#{@calls}" %></td>
                  <td><%= "#{@clicks}" %></td>
                  <td><%= "#{@searches}" %></td> 
                  <td><%= "#{@cost}" %></td> 
                  <td><%= "#{@budget}" %></td> 
                  <td><%= "#{@smartphones}" %>%</td> 
                  <td><%= "#{@tablets}" %>%</td> 
                  <td><%= "#{@computers}" %>%</td> 
        </tbody>
      </table>

<% end %>

<% if current_user.admin.present? %>
  <%= link_to "Dashboards",
              dashboards_path,
              :class => 'btn btn-warning'  %>
<% else %>
  <%= link_to "Daily Results",
              dashboard_path(:id => @dashboard_obj.id),
              :class => 'btn btn-default' %>
  
  <%= link_to "Home",
              root_path,
              :class => 'btn btn-default' %>
  
  <%= link_to "Website Details",
              websites_path,
              :class => 'btn btn-primary' %>
<% end %>





