<div class="parent">
<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
    <%if current_user.admin.present? %>
      
      <%= link_to "Websites List", websites_path, class: "btn btn-primary" %>
      <%= link_to "Users List", users_path, class: "btn btn-warning" %>
      <%= link_to "Advertises List", advertises_path, class: "btn btn-primary" %>

    <% else %>
        <br>
        <% if current_user.websites.present? %>
              
            <% current_user.websites.each do |website| %>
              <% if website.advertising ==  true  and website.subscribed.blank? %> <!--&& !created_ad.subscribed.nil? -->
                 <%= link_to "Your Ad is Ready 'Activate Now'", website_path(website), class: "btn btn-primary" %>
                 <br> 
                  <%= website.name %>
              <br>
              <br>
              <% elsif website.subscribed.present? %>
                    <!-- Dashboard to update in 24 hrs       -->
                    <%= link_to "Your Dashboard will be Ready soon ", 
                              websites_path,
                              :class => 'btn btn-warning' if website.dashboards.blank?%>
                    <!-- For  when with Dashbaord is Ready  -->
                   

                      <%= link_to "Your Dashboard is Ready", 
                                dashboard_path(website.id),
                                :class => 'btn btn-warning' if website.dashboards.present? %>
                      <br> 
                      <%= website.name %>
                      
                  
                  <br>
                  <br>
                   
                  
                    <% if website.advertising == false %>
                      <%= link_to "You have an Ad that's Getting Created", websites_path, class: "btn btn-info" %>
                      <% end %>
                  
              <% else %>
                  
                    <% if website.advertising == false %>
                      <%= link_to "You have an Ad that's Getting Created", website_path(website), class: "btn btn-warning" %>
                      <% end %>
                  <br>
                  <br>
              <% end %>

            <% end %>
             <%= link_to 'Add Another Website', new_website_path, class: "btn btn-primary" %>
                  <br>
                  <br>
                  <% content_for :footer do %>
                  <p>: Please note: for every new website you activate for Google Ads, the fee is $300 + 25% for each website Ad that goes live</p>
                  <% end %>
        
        <% else %>
            <h5> With Only a few simple Clicks we'll have you Advertsing on Google in no time </h5>
          
            <br>
            <%= link_to 'Lets Start with the Website', new_website_path, class: "btn btn-primary" %>
        <% end %>
    <% end %> 

  
<!--            //////////   User Sign-Up  ///////////                             -->  
<% else %>
<div class="jumbotron">
  <h2>Welcome to Swiftads!</h2>
    <p class="lead">
      We love generating NEW leads to your Website through Google. Sign up!
    </p>
</div>
  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-8 col-lg-offset-1 plan">
        <h2>Swiftads Package includes the following:</h2>
        <div class="features">
          <ul>
            <li>Swiftads will create an Ad for your website based on your Key Product/Services </li>
            <li>Your Ad to your website will be displayed at the Top on Google Search page when someone searches for your product/service</li>
            <li>Swiftads works smartly with Google to optimise your ad and have the best results by generating new leads/customers with miniumal spending</li>
            <li>You Only Get Charged when someone clicks onto your Ad</li>
            <li>Price: Max amount is $300 / month that goes directly to Google to advertise your website. </br>
            + swiftads service fee: 25% (ie total amount $375/month) </li>
            <li> MONEY BACK if your not happy after 3 months using swiftads we will refund the $900 back to your account. </li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="plans clearfix">
        <div class="col-lg-6 col-lg-offset-4 plan">
          <p>
            <br>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg sign-up' %>
          </p>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
<% end %>
</div>

