<div class="parent">
<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
    <%if current_user.admin.present? %>
      
      <%= link_to "Websites List", websites_path, class: "btn btn-primary" %>
      <%= link_to "Users List", users_path, class: "btn btn-warning" %>
      <%= link_to "Advertises List", advertises_path, class: "btn btn-primary" %>

    <% else %>
        <br>
        <% if current_user.websites.present? %>
              
            <% current_user.websites.each do |website| %>
              <% if website.advertising ==  true  and website.subscribed.blank? %> <!--&& !created_ad.subscribed.nil? -->
                 <%= link_to "Your Ad is Ready 'Activate Now'", website_path(website), class: "btn btn-primary" %>
                 <br> 
                  <%= website.name %>
              <br>
              <br>
              <% elsif website.subscribed.present? %>
                    <!-- Dashboard to update in 24 hrs       -->
                    <%= link_to "Your Dashboard will be Ready soon ", 
                              websites_path,
                              :class => 'btn btn-warning' if website.dashboards.blank?%>
                    <!-- For  when with Dashbaord is Ready  -->
                   

                      <%= link_to "Your Dashboard is Ready", 
                                dashboard_path(website.id),
                                :class => 'btn btn-warning' if website.dashboards.present? %>
                      <br> 
                      <%= website.name %>
                      
                  
                  <br>
                  <br>
                   
                  
                    <% if website.advertising == false %>
                      <%= link_to "You have an Ad that's Getting Created", websites_path, class: "btn btn-info" %>
                      <% end %>
                  
              <% else %>
                  
                    <% if website.advertising == false %>
                      <%= link_to "You have an Ad that's Getting Created", website_path(website), class: "btn btn-warning" %>
                      <% end %>
                  <br>
                  <br>
              <% end %>

            <% end %>
             <%= link_to 'Add Another Product or Service', new_website_path, class: "btn btn-primary" %>
                  <br>
                  <br>
                  <% content_for :footer do %>
                  <p>Please note: for every new Product or Service you add to Google Ads, the fee is $375. <br>$300 is budgeted towards your Google Adwords usage per month. These funds go directly to Google . <br>
                  The $75 represent our monthly service fee. </p>
                  <% end %>
        
        <% else %>
            <h5> With Only a few simple Clicks we'll have you Advertsing on Google in no time </h5>
          
            <br>
            <%= link_to 'Lets Start with the Website', new_website_path, class: "btn btn-primary" %>
        <% end %>
    <% end %> 

  
<!--            //////////   User Sign-Up  ///////////                             -->  
<% else %>
<div class="jumbotron">
  <h2>Welcome to Swiftads!</h2>
    <p class="lead">
      <!-- We love helping Businesses Grow with Google. Sign up! -->
      We love helping businesses grow with Google. Sign up!
    </p>
</div>
  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-8 col-lg-offset-1 plan">
        <h2>Our Package includes:</h2>
        <div class="features">
          <ul>
            <li>Swiftads will create an Ad for your website based on your Key Product or Service. </li>
            <li>Your Ad for your website will be displayed on the first page of Google Search when a potential customer searches for your products or services.</li>
            <li>Swiftads works smartly with Google adwords to generate new leads for your business.</li>
            <li>$300 is budgeted towards your Google Adwords usage per month. These funds go directly to Google.</li>
            <li>Google will only charge us when there is a click on your website from your advertisement.</li>
            <li>The $75 represent our monthly service fee.</li>
            <li>No Lock-in Contract</li>
            
          </ul>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="plans clearfix">
        <div class="col-lg-6 col-lg-offset-4 plan">
          <p>
            <br>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg sign-up' %>
          </p>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
<% end %>
</div>

