<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Refund Tax Invoice for: <%= @website %> - <%= Date.today %></h3>
    <hd> To: <%= @user.email %> </h4>
      <p> User ID : <%= @stripeid %>
      </p>
    <p>
    <table class="table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th> </th>
              <br>
              <th>Details</th>
              <br>
              <th> </th>
              <th>Total</th>
              <br>
              <th> </th>
              <th> </th>
              <th>Paid</th>
              <br>
              <th>Refunded</th>
              <br>
              
            </tr>
          </thead>
          <tbody>
              <tr>
                
                <td height="50">Google Ads and Service Fee</td>
                <td> </td>
                <br>
                <td height="50">Google Advertising - Monthly</td>
                <br>
                <td> </td>
                <td height="50">$375</td>
                <br>
                <td> </td>
                <td> </td>
                <td height="50">$375</td>
                <br>
                <td height="50">$<%= @balance %></td>
                <br>
                
          </tbody>
    </table>
    </p>
    <p>
      Please note: it will take 5 - 10 workings days for the refund to be deposited back into your Credit Card.
    </p>
    <p>
      Sorry to see you go. We do hope to see you back again soon.
    </p>
    <p>
      <br>
      Kind regards,
      <br>
      <br>
    </p>
    <p>

      Swiftads Team
    </p>
  </body>
</html>