<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>

      Thank You for updating your  Product/Services for your website  "<%= @website %>" - </p>
      <% if @product.present? %>
        <li><%= @product %></li> 
      <% end %>
      
      <% if @product1.present? %>
        <li><%= @product1 %></li> 
      <% end %>
      
      <% if @product2.present? %>
      <li><%= @product2 %></li> 
      <% end %>
      <p>You will be notified once your Google Ad is ready.</p>
    
  </body>
</html>