<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>

      Thank You for updating your  Product/Services for your website  "<%= @website %>" - </p>
      <% if @product.present? %>
        <li><%= @product %></li> 
      <% end %>
      
      <% if @product1.present? %>
        <li><%= @product1 %></li> 
      <% end %>
      
      <% if @product2.present? %>
      <li><%= @product2 %></li> 
      <% end %>
      <p>We will now create an effective Advertisement that will increase your online presence and ranking . YES this means the first page on Goolge search, but not just the first page for every search, the first page in front of quality potential customers searching on Google. This will make it easy for real customers to find your Business and your Key Product/Service.</p>
      <p>You will be notified once your Google Ad is ready.</p>
    
      <p> Kind Regards </p>
      <br>
      <p>Swiftads</p>

  </body>
</html>