<%= form_for @dashboard, :html => { :class => "form-horizontal dashboard" } do |f| %>

  <% if @dashboard.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @dashboard.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :calls, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :calls, :class => 'form-control' %>
    </div>
    <%=f.error_span(:calls) %>
  </div>
  <div class="form-group">
    <%= f.label :clicks, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :clicks, :class => 'form-control' %>
    </div>
    <%=f.error_span(:clicks) %>
  </div>
  <div class="form-group">
    <%= f.label :searches, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :searches, :class => 'form-control' %>
    </div>
    <%=f.error_span(:searches) %>
  </div>
  <div class="form-group">
    <%= f.label :cost, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cost, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cost) %>
  </div>
  <div class="form-group" onclick="budgetNotchange()">
    <%= f.label :budget, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :budget, :class => 'form-control' %>
    </div>
    <%=f.error_span(:budget) %>
  </div>
  <div class="form-group">
    <%= f.label :smartphones, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :smartphones, :class => 'form-control' %>
    </div>
    <%=f.error_span(:smartphones) %>
  </div>
  <div class="form-group">
    <%= f.label :tablets, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tablets, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tablets) %>
  </div>
  <div class="form-group">
    <%= f.label :computers, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :computers, :class => 'form-control' %>
    </div>
    <%=f.error_span(:computers) %>
  </div>
  <div class="form-group" onclick="websiteID()">
    <%= f.label :website_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :website_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:website_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel',
                dashboards_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
