<% if current_user.admin.present? %>
        <%- model_class = Dashboard -%>
        <div class="page-header">
          <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
        </div>
        <div align="center">

          <%= will_paginate if current_user.admin.present? %>

        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(:calls) %></th>
              <th><%= model_class.human_attribute_name(:clicks) %></th>
              <th><%= model_class.human_attribute_name(:searches) %></th>
              <th><%= model_class.human_attribute_name(:cost) %></th>
              <th>Balance</th>
              <th><%= model_class.human_attribute_name(:smartphones) %></th>
              <th><%= model_class.human_attribute_name(:tablets) %></th>
              <th><%= model_class.human_attribute_name(:computers) %></th>
              <th> Web Name</th>
              <th><%= model_class.human_attribute_name(:created_at) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @dashboards.each do |dashboard| %>
              <tr>
                <td><%= link_to dashboard.id, dashboard_path(dashboard) %></td>
                <td><%= dashboard.calls %></td>
                <td><%= dashboard.clicks %></td>
                <td><%= dashboard.searches %></td>
                <td>$<%= dashboard.cost %></td>


                <% website = Website.find(dashboard.website_id) %>
                <% total_cost = [] %>
                <% dashboard.data_dashboards.each do|num| %>
                  <% if website.date_subscribed != nil %>
                    <% if  website.date_subscribed < num.updated_at %>
                      <% total_cost << num.cost if  website.date_subscribed < num.updated_at %>
                    <% end %>
                  <% end %>
                <% end %>


               
                
                <% @cost = 0 %>
                  <% total_cost.each { |a| @cost +=a } %>
                <td>$<%=  dashboard.budget - @cost %></td>
               
                
               
                
                <td><%= dashboard.smartphones %>%</td>
                <td><%= dashboard.tablets %>%</td>
                <td><%= dashboard.computers %>%</td>
    
                <% website_name = Website.find_by(:id => dashboard.website_id) %> 
                <% website_name.name %>
                <td><%= website_name.name %> </td>
                <td><%= dashboard.created_at.to_s(:due_date) %></td>
                <td>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_dashboard_path(dashboard), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              dashboard_path(dashboard),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        

        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_dashboard_path,
                    :class => 'btn btn-primary' if @website_new.present? %>
     
      
        <%= link_to "Home", root_path,
                    :class => 'btn btn-warning' %>

        <%= link_to 'Data Dashboard Results',
                  data_dashboards_path, :class => 'btn btn-default'  %>
        <div align="center">

          <%= will_paginate %>

        </div>
<% else %>
      <!--     /////////  Current User Monthly Dashboard  /////////////////                      -->
         <%- model_class = Dashboard -%>
            <div class="page-header">
              <h1>Dashboard - Monthly </h1>
            </div>
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:id) %></th>
                  <th><%= model_class.human_attribute_name(:calls) %></th>
                  <th><%= model_class.human_attribute_name(:clicks) %></th>
                  <th><%= model_class.human_attribute_name(:searches) %></th>
                  <th><%= model_class.human_attribute_name(:cost) %></th>
                  <th><%= model_class.human_attribute_name(:budget) %></th>
                  <th><%= model_class.human_attribute_name(:smartphones) %></th>
                  <th><%= model_class.human_attribute_name(:tablets) %></th>
                  <th><%= model_class.human_attribute_name(:computers) %></th>
                  <th> Web Name</th>
                  <th><%= model_class.human_attribute_name(:created_at) %></th>
                  
                  <th><%=t '.actions', :default => t("helpers.actions") if current_user.admin.present? %></th>
                </tr>
              </thead>
              <tbody>

                <% @dashboards.each do |dashboard| %>
                  <% if dashboard.website.id == current_user.id%>
                    
                      
                      <tr>
                        <td><%= link_to dashboard.id, dashboard_path(dashboard) %></td>
                        <td><%= dashboard.calls %></td>
                        <td><%= dashboard.clicks %></td>
                        <td><%= dashboard.searches %></td>
                        <td><%= dashboard.cost %></td>
                        <td><%= dashboard.budget %></td>
                        <td><%= dashboard.smartphones %></td>
                        <td><%= dashboard.tablets %></td>
                        <td><%= dashboard.computers %></td>
            
                        <% website_name = Website.find_by(:id => dashboard.website_id) %> 
                        <% website_name.name %>
                        <td><%= website_name.name %> </td>
                        <td><%= dashboard.created_at.to_s(:due_date) %></td>

                          <% if current_user.admin.present? %>
                            <td>
                              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                          edit_dashboard_path(dashboard), :class => 'btn btn-default btn-xs' %>
                              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                          dashboard_path(dashboard),
                                          :method => :delete,
                                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                          :class => 'btn btn-xs btn-danger' %>
                            </td>
                        <% end %>
                      </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
</div>
            
          <% @dashboards.each do |dashboard| %>
            <% if dashboard.website.id == current_user.id %>
                <%= link_to 'Daily Results',
                            dashboard_path(dashboard), :class => 'btn btn-default'  %>
                <%= link_to "Home", root_path, :class => 'btn btn-default'  %>
                <%= link_to 'Website Site', websites_path, class: "btn btn-primary" %>
            <% else %>
                <%= link_to "Home", root_path, :class => 'btn btn-default' if dashboard.blank? %>
            <% end %>   
           <% end %>
           <!-- Might need to fix this grrr -->
<% end %>