<%- model_class = Dashboard -%>
<div class="page-header">
  <h1>Dashboard - Daily </h1>
</div>
<div class = "table-responsive">
  <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:calls) %></th>
            <th><%= model_class.human_attribute_name(:clicks) %></th>
            <th><%= model_class.human_attribute_name(:searches) %></th>
            <th><%= model_class.human_attribute_name(:cost) %></th>
            <th>Balance</th>
            <th><%= model_class.human_attribute_name(:smartphones) %></th>
            <th><%= model_class.human_attribute_name(:tablets) %></th>
            <th><%= model_class.human_attribute_name(:computers) %></th>
            <th> Web Name</th>
            <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
            <th> Last Updated at </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              
              <td><%= @dashboard.calls %></td>
              <td><%= @dashboard.clicks %></td>
              <td><%= @dashboard.searches %></td>
              <td>$<%= @dashboard.cost %></td>

              <% website = Website.find(@dashboard.website_id) %>
              <% total_cost = [] %>
              <% @dashboard.data_dashboards.each do|num| %>
                <% if  website.date_subscribed < num.updated_at %>
                  <% total_cost << num.cost if  website.date_subscribed < num.updated_at %>
                <% end %>
              <% end %>

             
              
              <% @cost = 0 %>
                <% total_cost.each { |a| @cost +=a } %>
              <td>$<%=  @dashboard.budget - @cost %></td>

              

              <td><%= @dashboard.smartphones %>%</td>
              <td><%= @dashboard.tablets %>%</td>
              <td><%= @dashboard.computers %>%</td>
             
              <% website_name = Website.find_by(:id => @dashboard.website_id) %> 
              <% website_name.name %>
              <td><%= website_name.name %> </td>
             <!--  <td><%= @dashboard.created_at.to_s(:due_date) %></td> -->
              
              <td><%= @dashboard.updated_at.to_s(:due_date) %></td>
            </tr>
        </tbody>
  </table>
</div>
<%= link_to 'Dashboards',
              dashboards_path, :class => 'btn btn-default'  if current_user.admin.present? %>


<%= link_to 'Monthly Results',
              data_dashboards_path, :class => 'btn btn-default'  if current_user.admin.blank? %>
            
<%= link_to "Home", root_path, :class => 'btn btn-default'  %>

<%= link_to "Your Google Ad", advertise_path(dashboard_advertise), :class => 'btn btn-default'  %>

<%= link_to 'Website Details', websites_path, class: "btn btn-primary" %>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dashboard_path(@dashboard), :class => 'btn btn-warning' if current_user.admin.present? %>


 <!--///////////////              DashBoard Donunt Chart / Customers                      ////////////////      -->

    <%- model_class = Dashboard -%>
    <div class="page-header">

         <!--  <h1>Line Break</h1> -->
    </div>

  
    <div class="chart" id='chart1'>
      <div class="inline" id='calls'></div>
      <div class="inline" id="green"></div>
      <div class="inline" id='clicks'></div>
      <div class="inline" id="orange"></div>
      <div class="inline" id='searches'></div>
      <div class="inline" id="blue"></div>
      
      <br class="clearBoth" />
      <p>Searches - People that have viewed your Ad when searching for your Keyword/Product </p>
        <canvas id = 'mycanvas' width="200" height="200"></canvas>
    </div>
      <br class="clearBoth" />
    <!--           Chart two                    -->
    <div class="chart" id='chart2'>
      <div class="inline" id='smartphones'></div>
      <div class="inline" id="lightblue"></div>
      <div class="inline" id='tablets'></div>
      <div class="inline" id="red"></div>
      <div class="inline" id='computers'></div>
      <div class="inline" id="limegreen"></div>

      <br class="clearBoth" />
      <p> Show the Devise people are using to search for your product  </p>
        <canvas id = 'mycanvas2' width="200" height="200"></canvas>
    </div>
      <script type="text/javascript">
        
        $(document).ready(function(){});

        

        var data = [
          {
            value: "<%= @dashboard.searches %>",
            color: "cornflowerblue",
            highlight: "lightskyblue",
            label: "Searches"
          },
        
          {
            value: "<%= @dashboard.clicks %>",
            color: "orange",
            highlight: "darkorange",
            label: "Clicks"
          },

          {
            value: "<%= @dashboard.calls %>",
            color: "lightgreen",
            highlight: "yellowgreen",
            label: "Calls"
          },
        ];

        var data_chart2 = [
          {
            value: "<%= @dashboard.smartphones %>",
            color: "#63ff90",
            highlight: "lime",
            label: "Smartphones"
          },
          {
            value: "<%= @dashboard.tablets %>",
            color: "#ff6384",
            highlight: "#ff4a70",
            label: "Tablets"
          },

          {
            value: "<%= @dashboard.computers %>",
            color: "#63d2ff",
            highlight: "#6384ff",
            label: "Computers"
          }

        ];

      </script>
      <br>
      <br>
      
          <p><span class= 'font_size'>Daily Clicks</span>  - People that have clicked on to your Ad and went to your website  </p>
          <h1 class="Count odometer" align='center'><%= @dashboard.clicks.to_i %></h1>
          <br>
          <br>
          <p class ="hide" ><span class= 'font_size'>Daily Searches</span>  - Number of Searches on Goolge for your Key Product or services  </p>
          <h1 class="Count_Searches odometer hide" align='center'><%= @dashboard.searches.to_i %></h1>
          <br>
          <br>
          <% devise = {'smartphones' => @dashboard.smartphones, 
                      'tablets' => @dashboard.tablets,
                      'computers' => @dashboard.computers } %>

          <% value_devise = devise.max_by{|k,v|  v} %> 
          <p class="hide"><span class= 'font_size '>Device Search </span>  -  The Devise that had the most search <%=value_devise[0] %>  </p>
          
         
          <h1 class="Count_Devises odometer hide" align='center'><%= value_devise[1]%></h1>
          
     
      <script type="text/javascript">
        
        $('.Count').each(function () 
        {

            $(this).prop('Counter',-1).animate({
               Counter: $(this).text()  
              }, 
              {
                duration: 5000,
                easing: 'swing',
                step: function (now) 
                  {
                    $(this).text(Math.ceil(now));
                  }
              });
      });

      $('.Count_Searches').each(function () 
        {

            $(this).prop('Counter',-1).animate({
               Counter: $(this).text()  
              }, 
              {
                duration: 5000,
                easing: 'swing',
                step: function (now) 
                  {
                    $(this).text(Math.ceil(now));
                  }
              });
      });

      $('.Count_Devises').each(function () 
        {

            $(this).prop('Counter',-1).animate({
               Counter: $(this).text()  
              }, 
              {
                duration: 5000,
                easing: 'swing',
                step: function (now) 
                  {
                    $(this).text(Math.ceil(now));
                  }
              });
      });



      </script>


      