<%- model_class = Dashboard -%>
<div class="page-header">
  <h1>Dashboard - Daily </h1>
</div>
<div class = "table-responsive">
  <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:calls) %></th>
            <th><%= model_class.human_attribute_name(:clicks) %></th>
            <th><%= model_class.human_attribute_name(:searches) %></th>
            <th><%= model_class.human_attribute_name(:cost) %></th>
            <th>Balance</th>
            <th><%= model_class.human_attribute_name(:smartphones) %></th>
            <th><%= model_class.human_attribute_name(:tablets) %></th>
            <th><%= model_class.human_attribute_name(:computers) %></th>
            <th> Web Name</th>
            <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
            <th> Last Updated at </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              
              <td><%= @dashboard.calls %></td>
              <td><%= @dashboard.clicks %></td>
              <td><%= @dashboard.searches %></td>
              <td>$<%= @dashboard.cost %></td>

              <% website = Website.find(@dashboard.website_id) %>
              <% total_cost = [] %>
              <% @dashboard.data_dashboards.each do|num| %>
                <% if  website.date_subscribed < num.updated_at %>
                  <% total_cost << num.cost if  website.date_subscribed < num.updated_at %>
                <% end %>
              <% end %>
               
             
              
              <% @cost = 0 %>
                <% total_cost.each { |a| @cost +=a } %>
              
                <% remaining_bal = @dashboard.budget - @cost %>
                <td>$<%=  remaining_bal %></td>
                <% refund_account(remaining_bal) %> <!-- refund monthly fund left over from campaign -->
              
    
              

              <td><%= @dashboard.smartphones %>%</td>
              <td><%= @dashboard.tablets %>%</td>
              <td><%= @dashboard.computers %>%</td>
             
              <% website_name = Website.find_by(:id => @dashboard.website_id) %> 
              <% website_name.name %>
              <td><%= website_name.name %> </td>
             <!--  <td><%= @dashboard.created_at.to_s(:due_date) %></td> -->
              
              <td><%= @dashboard.updated_at.to_s(:due_date) %></td>
            </tr>
        </tbody>
  </table>
</div>
<%= link_to 'Dashboards',
              dashboards_path, :class => 'btn btn-default'  if current_user.admin.present? %>


<%= link_to 'Monthly Results',
              data_dashboards_path, :class => 'btn btn-default'  if current_user.admin.blank? %>
            
<%= link_to "Home", root_path, :class => 'btn btn-default'  %>

<%= link_to "Your Google Ad", advertise_path(dashboard_advertise), :class => 'btn btn-default'  if dashboard_advertise.present? %>

<%= link_to 'Website Details', websites_path, class: "btn btn-primary" %>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dashboard_path(@dashboard), :class => 'btn btn-warning' if current_user.admin.present? %>


 <!--///////////////              DashBoard Donunt Chart / Customers                      ////////////////      -->

    <%- model_class = Dashboard -%>
    <div class="page-header">

         <!--  <h1>Line Break</h1> -->
    </div>

  
    <div class="chart" id='chart1'>
      <div class="inline" id='calls'></div>
      <div class="inline" id="green"></div>
      <div class="inline" id='clicks'></div>
      <div class="inline" id="orange"></div>
      <div class="inline" id='searches'></div>
      <div class="inline" id="blue"></div>
      
      <br class="clearBoth" />
      <p>Searches - People that have viewed your Ad when searching for your Product or Service </p>
        <canvas id = 'mycanvas' width="200" height="200"></canvas>
    </div>
      <br class="clearBoth" />
    <!--           Chart two                    -->
    <div class="chart" id='chart2'>
      <div class="inline" id='smartphones'></div>
      <div class="inline" id="lightblue"></div>
      <div class="inline" id='tablets'></div>
      <div class="inline" id="red"></div>
      <div class="inline" id='computers'></div>
      <div class="inline" id="limegreen"></div>

      <br class="clearBoth" />
      <p> Devise - What people use to search for your product or service </p>
        <canvas id = 'mycanvas2' width="200" height="200"></canvas>
    </div>
      <script type="text/javascript">
        
        $(document).ready(function(){});

        

        var data = [
          {
            value: "<%= @dashboard.searches %>",
            color: "cornflowerblue",
            highlight: "lightskyblue",
            label: "Searches"
          },
        
          {
            value: "<%= @dashboard.clicks %>",
            color: "orange",
            highlight: "darkorange",
            label: "Clicks"
          },

          {
            value: "<%= @dashboard.calls %>",
            color: "lightgreen",
            highlight: "yellowgreen",
            label: "Calls"
          },
        ];

        var data_chart2 = [
          {
            value: "<%= @dashboard.smartphones %>",
            color: "#63ff90",
            highlight: "lime",
            label: "Smartphones"
          },
          {
            value: "<%= @dashboard.tablets %>",
            color: "#ff6384",
            highlight: "#ff4a70",
            label: "Tablets"
          },

          {
            value: "<%= @dashboard.computers %>",
            color: "#63d2ff",
            highlight: "#6384ff",
            label: "Computers"
          }

        ];

        $.getScript('https://www.chartjs.org/assets/Chart.js',function(){
        var ctx = $("#mycanvas").get(0).getContext('2d');

        var chart = new Chart(ctx).Doughnut(data);
        var div = document.getElementById('searches');
        var color = document.getElementById('blue');
        div.innerHTML = data[0].label
        color.style.background = "rgb(100,149,237)";

        var div0 = document.getElementById('clicks');
        var color0 = document.getElementById('orange');
        div0.innerHTML = data[1].label
        color0.style.background = "rgb(255,165,0)";

        var div1 = document.getElementById('calls');
        var color1 = document.getElementById('green');
        div1.innerHTML = data[2].label
        color1.style.background = "rgb(144, 238, 144)";
        console.log(data[0].label)
        console.log(data[0].color)

        // Chert 2 ---------------------------------------------->
         var ctx1 = $("#mycanvas2").get(0).getContext('2d')
         

        var chart = new Chart(ctx1).Doughnut(data_chart2);
        var div_chart1 = document.getElementById('smartphones');
        var color_chart1 = document.getElementById('lightblue');
        div_chart1.innerHTML = data_chart2[0].label
        color_chart1.style.background = "#63ff90";

        var div_chart2 = document.getElementById('tablets');
        var color_chart2 = document.getElementById('red');
        div_chart2.innerHTML = data_chart2[1].label
        color_chart2.style.background = "#ff6384";

        var div_chart3 = document.getElementById('computers');
        var color_chart3 = document.getElementById('limegreen');
        div_chart3.innerHTML = data_chart2[2].label
        color_chart3.style.background = "#63d2ff";
        


      });

      </script>
      <br>
      <br>
      
          <p><span class= 'font_size'>Daily Clicks</span>  - The Number of people that have clicked on to your Ad and went to your website  </p>
          <h1 class="Count odometer" align='center'><%= @dashboard.clicks.to_i %></h1>
          <br>
          <br>
          <p class ="hide" ><span class= 'font_size'>Daily Searches</span>  - Number of people that have Searched for your Key Product or services on Goolge   </p>
          <h1 class="Count_Searches odometer hide" align='center'><%= @dashboard.searches.to_i %></h1>
          <br>
          <br>
          <% devise = {'Smartphones' => @dashboard.smartphones, 
                      'Tablets' => @dashboard.tablets,
                      'Computer Desktop' => @dashboard.computers } %>

          <% value_devise = devise.max_by{|k,v|  v} %> 
          <% net_num_devise = (@dashboard.searches *  value_devise[1]/100) %>
          <p class="hide"><span class= 'font_size '>Device Search </span>  -  The Devise use by most people today to search for your product/service is : <%= value_devise[0] %>. The Number of people using this today : 
         
          <h1 class="Count_Devises odometer hide" align='center'><%= net_num_devise %></h1>
          
     
      <script type="text/javascript">
        
        $('.Count').each(function () 
        {

            $(this).prop('Counter',-1).animate({
               Counter: $(this).text()  
              }, 
              {
                duration: 5000,
                easing: 'swing',
                step: function (now) 
                  {
                    $(this).text(Math.ceil(now));
                  }
              });
      });

      $('.Count_Searches').each(function () 
        {

            $(this).prop('Counter',-1).animate({
               Counter: $(this).text()  
              }, 
              {
                duration: 5000,
                easing: 'swing',
                step: function (now) 
                  {
                    $(this).text(Math.ceil(now));
                  }
              });
      });

      $('.Count_Devises').each(function () 
        {

            $(this).prop('Counter',-1).animate({
               Counter: $(this).text()  
              }, 
              {
                duration: 5000,
                easing: 'swing',
                step: function (now) 
                  {
                    $(this).text(Math.ceil(now));
                  }
              });
      });



      </script>


      